#menuA {
  width: 15rem;
  background-color: #f0f0f0;
  text-align: center;
  border: #f0f0f0 solid 1px;
  padding: 1rem 0.5rem;
}

.subMenu {
  display: none;
  width: 15rem;
  background-color: #fbfbfb;
  border: #f0f0f0 solid 1px;
  text-align: center;
  padding: 0.7rem 0.5rem;
}
