body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

li {
  list-style: none;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  padding: 30px 0;
  color: #a2a2a2;
  background-color: #3b3b3b;
}

.headUpper {
  display: flex;
  flex-direction: row;;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: green solid 5px;
}

.mainLogo {
  margin: 15px 0;
}

.subMenu {
  position: absolute;
}

.subMenu ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  color: #666666;
}

.subMenu ul li {
  margin: 0 5px;
}

.subMenu ul span{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-image: url("https://www.subway.co.kr/images/common/icon_utill_global.png");
}

.headLower {
  display: flex;
  justify-content: center;
}

.menuList {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0;
}

.menuList li {
  width: 165px;
}

.menuList p {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0;
  padding: 15px 0;
  border-bottom: #c2c2c2 solid 0.5px;
}

.underList li{
  font-size: 15px;
  font-weight: 400;
  color: #666666;
  margin-top: 12px
}

/* ----------메인 본문 시작----------- */

.mainBanner {
  display: flex;
  flex-direction: column;
  align-self: center;
  overflow:hidden;
}

.subTab {
  display: flex;
  flex-direction: row;
  align-self: center;
  position: absolute;
  left: 50%;
  top: 775px;
}

.subTabL {
  width: 200px;
  height: 50px;
  background-color: orange;
  border-radius: 15px 0 0 0;
  padding: 0
}

.subTabR {
  width: 200px;
  height: 50px;
  background-color: green;
  border-radius: 0 0 15px 0;
  color: white;
}

.subTab li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 50px
  ;
}

.subTab h1 {
  font-size: 22px;
  font-weight: 700;
  margin-left: 15px;
}

.imgBanner {
  display: flex;
  flex-direction: row;
}

/* --------------------Introduce Menu--------------------- */

.introduceMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 50px 0;
}


.introBar, .specificMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1280px;
}

.introTitleNew {
  z-index: 99;
  font-size: 35px;
  font-weight: 900;
  position: relative;
  float:left;
  margin: 0;
  top: 5px;
  left: 20px;
}


.category ul {
  display: flex;
  flex-direction: row;
}

.category li,span {
  font-size: 15px;
  font-weight: bold;
  color: #666666;
  margin: 0 16px;
  letter-spacing: -0.03rem;
}

.specificMenu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.specificMenu h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.specificMenu h5 {
  font-size: 13px;
  font-weight: 400;
  color: #a1a1a1;
  margin: 0;
  margin-top: 15px;
  line-height: 20px;
}

.menuClassic img {
  width: 260px;
}


/* ------------------Additional Card------------------ */


.additionalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  padding: 20px 0;
}

.additionalCard .upperFloor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1225px;
}

.additionalCard .lowerFloor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1225px;
}

.additionalCard .upperFloor div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.additionalCard .upperFloor div h1{
  font-size: 30px;
  color: white;
}

.additionalCard .upperFloor div h4{
  border: white solid 2px;
  width: 90px;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  color: white;
}

.useSubway {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  height: 300px;
  background-image: url("https://www.subway.co.kr/images/main/bg_utilization.png");
}

.useSubway h1{
  margin-left: 20px;
}

.useSubway h4{
  margin-left: 20px;
}

.historyCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 825px;
  height: 300px;
  background-image: url("https://www.subway.co.kr/images/main/img_subway_history.png");
}

.historyCard h1{
  margin-left: 400px;
}

.historyCard h4{
  width: 130px;
  margin-left: 400px;
}

.additionalCard .lowerFloor {
  margin-top: 30px;
}


.sponsorCard {
  width: 270px;
  height: 300px;
  border-radius: 0 25px 0 25px;
  margin-left: 30px;
  background-image: url("https://www.subway.co.kr/upload/banner/270x300_20220801013110442.png");
}

.newCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 870px;
  height: 300px;
  border-radius: 25px 0 25px 0;
  background-color: white;
  margin-right: 25px

}

.newCardLeft {
  align-self: center;
  width: 350px;
  margin: 0;
}

.newCardLeft h4{
  text-align: center;
  color: #a1a1a1;
  line-height: 25px;
  font-weight: 400;
  margin: 15px 0;
}

.newCardTitle .colorTab {
  margin-left: 60px;
}


.titleNew {
  z-index: 99;
  position: absolute;
  font-size: 35px;
  font-weight: 900;
  margin: 0;
}

.newCardTitle .titleNew {
  margin: 10px 0 0 85px;
}

.colorTab{
  width: 50px;
  height: 50px;
  border-radius: 50px 50px 0 50px;
  background-color: orange;
  position: relative;
}

.newCardRight {
  align-self: center;
  width: 450px;
  margin: 0;
}

.newCardRight ul h4{
  margin: 20px 0;
  font-weight: 400;
  color: #292929;
}

.newCardRight h5{
  font-size: 15px;
  margin: 0;
  margin-top: 30px;
  color: #a1a1a1;
}

/* --------------메뉴.------------ */

.additionalMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.additionalMenu ul li div{
  width: 70px;
  height: 70px;
  background-image: url("https://www.subway.co.kr/images/main/icon_quickmenu.png");
}

.additionalMenu ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 230px;
  margin: 2rem 2.5rem;
}

.additionalMenu ul li span h3,h5{
  margin: 0px;
  margin-left: 1rem;
}

.additionalMenu ul li span h5{
  color: #a1a1a1;
  font-size: 13px;
  margin-top: 4px;
}


/* -----------------Footer 박스 시작--------------- */


.upperFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: gray solid 1px;
}

.lowerFooter {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.lowerOutroBar {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  width: 1250px;
}

.outroBar {
  width: 1250px;
}

.outroBar ul{
  display: flex;
  flex-direction:row;
  padding-left: 0;
  margin-top: 0;
}

.companyAbstract ul{
  display: flex;
  flex-direction:row;
  margin: 0.5rem 0;
  padding-left: 0;
}

.companyAbstract ul li {
  border-left: gray solid 3px;
  padding: 0 0.6rem;
}

.companyAbstract div {
  margin-right: 30px;
}

.outroBar ul li {
  margin-right: 30px;
}

.snsButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
}

.snsButtonGroup div{
  width: 50px;
  overflow: hidden;
}

.snsButtonGroup div img{
  position: relative;
}
